<html>
<head>
<title>Confirm registration please.</title>
</head>
<body>
<p align="center">Hello, {{ user }}!</p>
<p>This letter came to you because someone registered on the site {{site}} with your email address.
If it is not you, just remove the letter.
<br>To confirm your registration, please click the link: <a href="{{link}}">{{link}}</a>.</p>
<p>This letter is generated automatically. <font color="red">Please dont respond on them!</font></p>
</body>
</html>