{% extends theme.path('RLMainBundle', 'layout.html.twig') %}

{% block header %}
{% endblock %}

{% block aside %}

  {# Authentication block #}
  {% if 'Authentication' in user.blocks %}
	{% render "RLMainBundle:Block:renderAuthentication" %}
  {% endif %}

{% endblock %}

{% block content %}
    <p>
This is content! This is content! This is content! This is content! This is content! This is content!
This is content! This is content! This is content! This is content! This is content! This is content!
    </p>
{% endblock %}
  
{%block footer%}{%endblock%}
