{% extends theme.path('RLMainBundle', 'layout.html.twig') %}

{% block middle %}
        <td class="aside">
	{% block lblocks %}
        {# Authentication block #}
        {% if 'Authentication' in user.blocks %}
                {% render "RLMainBundle:Block:renderAuthentication" %}
        {% endif %}
        {% endblock %}
        </td>
        <td class="content">
	{% block content %}
			{%for thread in threads%}
			{%include theme.path('RLMainBundle', 'news.html.twig')%}
			{%endfor%}
			{{pages|raw}}
	{% endblock %}
        </td>
{% endblock %}
