{% extends theme.path('RLMainBundle', 'layout.html.twig') %}

{%block title%}
{{parent()}} - {{title}}
{%endblock%}

{% block rblocks %}{%endblock%}

{%block content%}
<fieldset><legend>{{legend}}</legend><p align="center">{{text|raw}}</p><br></fieldset>
{%endblock%}