{% extends theme.path('RLMainBundle', 'layout.html.twig') %}

{% block middle %}
        <td class="aside">
	{% block rblocks %}
        {# Authentication block #}
        {% if 'Authentication' in user.blocks %}
                {% render "RLMainBundle:Block:renderAuthentication" %}
        {% endif %}
        {% endblock %}
        </td>
        <td class="content">
	{% block content %}CONTENT_BLOCK{% endblock %}
        </td>
{% endblock %}
  
{%block footer%}{%endblock%}
