<form action="user_Tux-oid:edit" method="post">
	<fieldset>
		<legend>{%trans%}Change password{%endtrans%}</legend>
		<table>
			<tr>
				<td>{%trans%}Old password{%endtrans%}:</td>
				<td><input type="password" name="old_pass" value=""></td>
				<td></td>
			</tr>
			<tr>
				<td>{%trans%}New password{%endtrans%}:</td>
				<td><input type="password" name="new_pass" value=""></td>
				<td></td>
			</tr>
			<tr>
				<td>{%trans%}Repeat password{%endtrans%}:</td>
				<td><input type="password" name="new_pass_retype" value=""></td>
				<td></td>
			</tr>
		</table>
	</fieldset>
	<input type="submit" name="pass" value="{%trans%}Change{%endtrans%}">
</form>
