<html>
<head>
<title>
{%trans%}Your new user information{%endtrans%}
</title>
<body>
<p align="center">{%trans%}Hello{%endtrans%}, {{username}}!</p>
<p>
{%trans%}Your new password is{%endtrans%} <b>{{password}}</b> {%trans%}Please, change them after login.{%endtrans%}
</p>
<p>{%trans%}This letter is generated automatically.{%endtrans%} <font color="red">{%trans%}Please dont respond on them!{%endtrans%}</font></p>
</body>
</html>