<form action="user_Admin:edit" method="post">
	<fieldset>
		<legend>{%trans%}Filters settings{%endtrans%}</legend>
		<input type="checkbox" name="filter_1" value="матерные выражения" >матерные выражения<br><input type="checkbox" name="filter_2" value="торсионщина" >торсионщина<br><input type="checkbox" name="filter_3" value="нацпол" >нацпол<br><input type="checkbox" name="filter_4" value="спам" >спам<br><input type="checkbox" name="filter_5" value="флуд" >флуд<br><input type="checkbox" name="filter_6" value="порно" >порно<br><input type="checkbox" name="filter_7" value="изображения" >изображения<br><input type="checkbox" name="filter_8" value="модераторские/пользовательские фильтры" >модераторские/пользовательские фильтры<br>
	</fieldset>
	<input type="submit" name="filters" value="{%trans%}Save settings{%endtrans%}">
</form>
