{% extends theme.path('RLMainBundle', 'layout.html.twig') %}

{%block content%}
{%if is_granted('ROLE_ANONYMOUS')%}
<table width="100%">
<tr>
<td>
{% if error %}
    <div>{{ error.message }}</div>
{% endif %}
<form action="{{ path('login_check') }}" method="post">
<table>
<tr>
<td>
<label for="username">{%trans%}Username{%endtrans%}:</label>
</td>
<td>
<input type="text" id="username" name="_username" value="{{ last_username }}" />
</td>
</tr>
<tr>
<td>
<label for="password">{%trans%}Password{%endtrans%}:</label>
</td>
<td>
<input type="password" id="password" name="_password" />
</td>
</tr>
</table>
{#
If you want to control the URL the user is redirected to on success (more details below)
<input type="hidden" name="_target_path" value="/account" />
#}
<input type="submit">
</form>
</td>
<td>
<form action="{{path('openid_check')}}" method="post">
<table>
<tr>
<td>
<label for="username">OpenID URL:</label>
</td>
<td>
<input type="text" id="url" name="openid_identifier" />
</td>
</tr>
<tr>
<td>
<input type="submit">
</td>
<td>
</td>
</tr>
</table>
</form>
</td>
</tr>
</table>
{%else%}
<fieldset><legend>You are already logged in</legend><p align="center">You are already logged in. If you want to login with another nick, you must logout</p></fieldset>
{%endif %}
{%endblock%}