<html>
<head>
<title>
Your new user information
</title>
<body>
<p align="center">Hello, {{username}}!</p>
<p>
Your new password is {{password}} Please, change them after login.
</p>
<p>This letter is generated automatically. <font color="red">Please dont respond on them!</font></p>
</body>
</html>