{% extends theme.path('RLMainBundle:Forum:subsection.html.twig') %}

{%block content%}
<br>
<h1>{{section.name}} {{subsection.name}}</h1>
<!--<p style="margin-top: 0px;">-->
<em>{{subsection.description}}</em>
<br/>
<br/>
<div class=forum>
{% for thread in threads %}
{%include theme.path('RLGalleryBundle:Forum:unconfirmedItem.html.twig')%}
{%endfor%}
<p style="text-align: center">
	{{pages|raw}}
</p>

{%endblock content%}
