<html>
<head>
    <title>
        {%trans%}Your account was blocked{%endtrans%}
    </title>
<body>
<p align="center">{%trans%}Hello{%endtrans%}, {{username}}!</p>
<p>
    {%trans%}Your account was blocked. We are sorry!{%endtrans%}
</p>
<p>{%trans%}This letter is generated automatically.{%endtrans%} <font color="red">{%trans%}Please don't respond on them!{%endtrans%}</font></p>
</body>
</html>
