{% extends theme.path('RLMainBundle::layout.html.twig') %}

{% block middle %}
    <table class="content">
        <tr>
            {% if leftBlocks|length > 0 %}
                <td class="left-sidebar">
                    {% block lblocks %}
                        {%for block in leftBlocks%}
                            {% render "RLMainBundle:Block:renderBlock" with { 'block': block } %}
                        {% endfor %}
                    {% endblock lblocks%}
                </td>
            {% endif %}
            <td class="content">
                {% block content %}
                        {%for thread in threads%}
                        {%include theme.path('RLMainBundle:Forum:news.html.twig')%}
                        {%endfor%}
                        {{pages|raw}}
                {% endblock %}
            </td>
            {% if rightBlocks|length > 0 %}
                <td class="right-sidebar">
                    {% block rblocks %}
                        {%for block in rightBlocks%}
                            {% render "RLMainBundle:Block:renderBlock" with { 'block': block } %}
                        {%endfor%}
                    {% endblock rblocks%}
                </td>
            {% endif %}
        </tr>
    </table>
{% endblock %}
