{% extends theme.path('layout.html.twig') %}

{% block middle %}
    <table class="content">
        <tr>
            {% if app.user.leftBlocks|length > 0 %}
                <td class="left-sidebar">
                    {% block lblocks %}
                        {% for blockName, weight in app.user.leftBlocksWeights %}
                            {%for block in app.user.leftBlocks%}
                                {% if block.name == blockName %}
                                    {% render "RLMainBundle:Block:renderBlock" with { 'block': block } %}
                                {% endif %}
                            {%endfor%}
                        {% endfor %}
                    {% endblock lblocks%}
                </td>
            {% endif %}
            <td class="content">
                {% block content %}
                        {%for thread in threads%}
                        {%include theme.path('news.html.twig')%}
                        {%endfor%}
                        {{pages|raw}}
                {% endblock %}
            </td>
            {% if app.user.rightBlocks|length > 0 %}
                <td class="right-sidebar">
                    {% block rblocks %}
                        {% for blockName, weight in app.user.rightBlocksWeights %}
                            {%for block in app.user.rightBlocks%}
                                {% if block.name == blockName %}
                                    {% render "RLMainBundle:Block:renderBlock" with { 'block': block } %}
                                {% endif %}
                            {%endfor%}
                        {%endfor%}
                    {% endblock rblocks%}
                </td>
            {% endif %}
        </tr>
    </table>
{% endblock %}
