{%extends theme.path('layout.html.twig')%}

{%block title%}
{{parent()}} - {%trans%}Edif profile of user{%endtrans%} {{userInfo.username}}
{%endblock title%}

{%block content%}
	<h1>{%trans%}User profile{%endtrans%}</h1>
	{%if userInfo.anonymous == false%}
		{%include theme.path('profilePasswordEdit.html.twig')%}
		{%include theme.path('profilePersonalDataEdit.html.twig')%}
	{%endif%}
	{%include theme.path('profileSettingsEdit.html.twig')%}
	{%include theme.path('profileFiltersSettingsEdit.html.twig')%}
	{%if is_granted('ROLE_MODER')%}
		{%include theme.path('profileModeratorSettingsEdit.html.twig')%}
	{%endif%}
	{%if is_granted('ROLE_ADMIN')%}
		{%include theme.path('profileAdministratorSettingsEdit.html.twig')%}
	{%endif%}

{%endblock content%}
