<form action="user_Admin:edit" method="post">
	<fieldset>
		<legend>{%trans%}Filters settings{%endtrans%}</legend>
		{{ form_widget(filtersSettings) }}
	</fieldset>
	<input type="submit" name="filters" value="{%trans%}Save settings{%endtrans%}">
</form>
