{% block range_widget %}
    {% spaceless %}
        <div class="range">
            {{ form_widget(form, {'type' : 'range', 'attr' : {'min' : min , 'maxlength' : maxlength, "step" : step } }) }}
        </div>
        <script type="text/javascript" src="{{ asset('/bundles/rlmain/js/html5slider.js') }}"></script>
    {% endspaceless %}
{% endblock %}
