{% block range_widget %}
    {% spaceless %}
        <div class="range">
            <input type="range" min="0" maxlength="100" step="1"/>
        </div>
        <script type="text/javascript" src="{{ asset('/bundles/rlmain/js/html5slider.js') }}"></script>
    {% endspaceless %}
{% endblock %}
